body {
    font-family: "Open Sans", sans-serif;
    background: rgb(17 24 39/1);
}

h2 {
    font-size: 1.5em;
    color: #fff;
}

.header-info {
    background: #fff;
    margin: 50px 0;
    border-radius: 10px;
    padding: 20px 20px;
    border: 8px solid #354361;
}

.header-info .avatar {
    display: inline-block;
    width: 100px;
    vertical-align: bottom;
}


.header-info .avatar img {
    width: 100px;
}

.header-info .detail {
    margin: 0px 20px;
    display: inline-block;
    width: 89%;
}

.header-info .detail h1 {
    font-weight: bold;
    font-size: 1.3em;
    color: #393939;
}

.header-info .detail p {
    font-size: 0.9em;
    font-weight: 400;
}

.header-info .detail .midias {
    font-size: 0.9em;
}

.header-info .detail .midias a {
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
    margin: 2px 1px;
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 5px;
    color: #272727;
    font-weight: 400;
    display: inline-block;
    min-width: 105px;
}


.header-info .detail .midias a:hover {
    background: #e5e5e5;
}

.footer {
    text-align: center;
    color: #989da7;
    font-size: 0.8em;
    margin-top: 40px;
}

.product-card-wi {
    margin: 10px 0px;
    border: 5px solid #2e394f;
    min-height: 457px;
}

.product-card-wi .card-body .card-title {
    background: #2e394f;
    font-size: 1em;
    color: #fff;
    padding: 5px 0px 5px 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body {
    background: #2e394f;
    padding: 0px;
}

.product-card-wi .card-body .image {
    background: #fff;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    min-height: 270px;
}

.product-card-wi .card-body .image img {
    height: 200px;
    border: none;
}

.product-card-wi .card-body .links {
    padding: 15px;
    background: #f0f5ff;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-buy {
    text-decoration: none;
    padding: 6px;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    margin: 10px 0;
}
.shopee {
    background: #fe5f32;
    color: #fff;
}
.shopee:hover {
    background: #dd5e3a;
    transform: scale(1.05);
}
.meli {
    background: #f1dc00;
    color: #424562;
}
.meli i, .meli svg {
    color: #fff;
}
.meli:hover {
    background: #cfbe04;
    transform: scale(1.05);
}
.amazon {
    background: #fba921;
    color: #313131;
}
.amazon:hover {
    background: #db921a;
    transform: scale(1.05);
}

@media only screen and (max-width: 1390px) {
    .header-info {
        text-align: center;
    }
    .header-info .avatar {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}


.number {
position: absolute;
top: -15px;
left: -17px;
background: #fff;
border-radius: 50%;
line-height: 38px;
text-align: center;
font-size: 0.9em;
font-weight: bold;
width: 45px;
height: 45px;
border: 3px solid #111827;
}


.filtros {
    margin-bottom: 10px;
    margin-top: 11px;
}


.filtros .btn-filter {
    background: #455869;
    border: 2px solid #2e394f;
    border-radius: 5px;
    color: #fff;
    padding: 4px 25px;
    font-size: 0.9em;
    margin: 3px 3px;
    font-weight: 600;
}


.filtros .btn-filter.ativo {
    background: #26333f;
    border: 2px solid #26333f;
}

a.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.txt-filtros {
    display: inline-block;
    color: #fff;
    font-weight: 500;
}
