---
import { siteConfig } from '@/data/site.config'
import TwitterColorIcon from './icons/TwitterColorIcon.astro'
import LinkedinColorIcon from './icons/LinkedinColorIcon.astro'
import WhatsAppIcon from './icons/WhatsAppIcon.astro'
import FacebookIcon from './icons/FacebookIcon.astro'
import TelegramIcon from './icons/TelegramIcon.astro'
const message = siteConfig.shareMessage

const URL = Astro.url.href
---

<div class='flex flex-col gap-2'>
	<span class='mb-1 text-neutral-800 font-bold text-2xl'>Compartilhe</span>
	<ul class="flex gap-3 text-black dark:text-white">
		<li>
    <a
      href={`https://api.whatsapp.com/send?text=${message + ' ' + URL}`}
      aria-label="Share on WhatsApp"
      target="_blank"
      rel="noopener noreferrer"
    >
      <WhatsAppIcon />
    </a>
  </li>
  <li>
    <a
      href={`https://twitter.com/intent/tweet?text=${message + ' ' + URL}`}
      aria-label="Share on Twitter"
      target="_blank"
      rel="noopener noreferrer"
    >
      <TwitterColorIcon />
    </a>
  </li>
  <li>
    <a
      href={`https://www.linkedin.com/shareArticle?mini=true&url=${URL}`}
      aria-label="Share on LinkedIn"
      target="_blank"
      rel="noopener noreferrer"
    >
      <LinkedinColorIcon />
    </a>
  </li>
  <li>
    <a
      href={`https://www.facebook.com/sharer/sharer.php?u=${URL}`}
      aria-label="Share on Facebook"
      target="_blank"
      rel="noopener noreferrer"
    >
      <FacebookIcon />
    </a>
  </li>
  <li>
    <a
      href={`https://t.me/share/url?url=${URL}&text=${message}`}
      aria-label="Share on Telegram"
      target="_blank"
      rel="noopener noreferrer"
    >
      <TelegramIcon />
    </a>
  </li>
</ul>

</div>
