---
export interface Props {
	tag: string
}
const { tag } = Astro.props
---

<a href={`/tags/${encodeURIComponent(tag.toLowerCase())}`} aria-label={tag}>
	<span
		class='bg-orange-100 text-orange-500 dark:bg-slate-700 dark:text-white text-sm w-fit px-2 md:px-2 md:py-2 rounded-md'
	>
		# {tag ?? 'Blog Tag'}
	</span>
</a>
